# Godot 4+ specific ignores
.godot/
/android/

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# macOS
.DS_Store

# Ignore build output directories
bin/
obj/

# Ignore temporary files
*.user
*.suo
*.swp

# Ignore lock files and logs
project.lock.json
project.fragment.lock.json
*.log

# Ignore IDE-specific files
.idea/
*.csproj.user
.vscode/
.vs/